<section>
    <article>
        <h1>Connecting Brandeis past, present, and future</h1>
        <p>
            The Brandeis Students & Alumni Association (SAA) are champions of all that exemplify Brandeis:
                a community dedicated to intellectual growth and inquiry, social justice and service, athletic 
                competition, artistic expression, and inclusivity.
        </p>
    </article>
    <article>
        <p>The SAA takes part in a variety of activities, including:</p>
        <ul>
            <li>Hosting alumni speakers and alumni engagement activities</li>
            <li>Serving on student panels</li>
            <li>Bolstering philanthropic support for Brandeis</li>
        </ul>
    </article>
</section>