<section>
    <article>
        <h1>Contact Us: bsaa@brandeis.edu</h1>
        <h2>President</h2>
        <p>Joe Green, class of 2023</p>
        <h2>Vice President</h2>
        <p>Mary Jane, class of 2024</p>
        <h2>Treasurer</h2>
        <p>John Smith, class of 2024</p>
    </article>
</section>