<section>
    <article>
        <h1>We Are Proud</h1>
        <h2>Students & Alumni of Brandeis University</h2>
        <p>The Brandeis Students and Alumni Association is a vibrant community 
            that offers lifelong opportunities for students and alumni to stay 
            connected to Brandeis and each other.</p>
    </article>
</section>